/*一些元素修饰*/
/*居中*/
.center
{
	text-align:center;
}
/*首页图片*/
.hpnews
{
	border:1px solid red;
	border-radius:1%;
}
/*圆形图片*/
.circle
{
	border:1px solid blue;
	border-radius:75%;
}
/*按钮*/
.button
{border-radius:.25rem;}
/*缩小字体*/
.small
{font-size:10px;color:#A0A0A0;}
.word
{
	color:black;
	font-family: 'Microsoft Yahei Light';
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	margin:10px;
	background-color:rgb(250, 250, 250);
	border-left:2px solid #86CAFB;
}
/*删除线*/
.S
{
	padding-left:28px;
	text-decoration:line-through black;
}
