/*一些div定义*/
/*头*/
#header
{
	/*4.x 不再需要*/
	display:none;
	padding-bottom:1em;
	padding-top:1em;
	background-image:url('../img/!header-bird.png');
	/*422地球日：background-image:url('../img/!earth.jpeg');*/
	background-repeat:no-repeat;
	background-size:cover;
	text-align:center;
	color:blue;
	/*422地球日：color:white;*/
}
/*logo*/
.logo
{
	font-family:"Microsoft Yahei";
}
/*并排*/
.line
{
	display:flex;
	justify-content:center;

}
/*删除线*/
.S
{
	text-decoration:line-through LightSlateGray;
}
/*logo下面的副标题*/
/*中文*/
.sentence-chn
{
	font-family:楷体,微软雅黑,黑体;
	font-size:17px;
}
/*英文*/
.sentence-eng
{
	font-family:Consolas,"Courier New",Courier;
	font-size:17px;
}
/*目录*/
#menu
{
	position: sticky;
	top: 0;
	padding-top:8px;
	padding-bottom:40px;
	/****4.0.0 2020-05-06更新*/
	background-color:#FFFFFF;
	box-shadow: 1px 1px 5px rgba(136,136,136,.70);
	/****结束*/
	font-size:20px;
	/****3.1.11 2020-04-21更新*/
	padding-left:15px;
	padding-right:15px;
	/****结束*/
	/*height:5%;
	width:95%;*/
}
/*导航栏字体*/
#menu a
{
	color:rgba(0,0,0,.80);
}
/*首页图集*/
#picnews
{
	padding-left:5px;
	padding-right:5px;
}
/*主div*/
#main
{
	width:75%;
	margin:none;
}
/*右侧边栏*/
#side
{
	width:25%;
	margin:10px;
}
/*OI 周报*/
#OInews
{
	text-align:center;padding:10px;background-color:rgba(0,0,0,.85);margin:10px;border-radius:.5rem;
	box-shadow: 1px 1px 5px rgba(136,136,136,.70);
}
/*主页侧边栏*/
.rightdiv
{
	background-color:rgba(0,0,0,.85);
	text-align:center;margin:10px;padding:10px;border-radius:.5rem;
	box-shadow: 1px 1px 5px rgba(136,136,136,.70);
}
/*最新博文 & 最新动态 & 博文*/
#blog
{
	background-color:rgba(0,0,0,.85);
	padding:10px;margin:10px;border-radius:.5rem;
	box-shadow: 1px 1px 5px rgba(136,136,136,.70);
}
/*脚部*/
#footer
{
	text-align:center;background-color:rgb(32,32,32);height:60px;
}
/*左侧边栏列表*/
#divlist
{
	border-radius:.5rem;
	background-color:rgba(0,0,0,.85);
	color:white;
	box-shadow:1px 1px 5px rgba(136,136,136,.70);
}
/*列表中的每一项*/
.item
{
	border-bottom:1px solid rgb(136,136,136);
	text-align:center;
	padding-top:3px;
	padding-bottom:3px;
	color:white;
	font-size:18px;
}
.item a
{
	color:white;
}
/*中间的每一项*/
.mainitem
{
	margin:5px;
	background-color:black;
	color:white;
	width:25%;
	border:3px solid #006633;
	text-align:center;
}
/*没有radius的blog*/
#blogWithNoRadius
{
	background-color:rgba(0,0,0,.85);
	padding:10px;margin:10px;
	box-shadow: 1px 1px 5px rgba(136,136,136,.70);
}
/*OInews中的picture*/
.oiNewsPic
{
	width:100%;
}
/*左浮动*/
.floatLeft
{
	float:left;
}
/*右浮动*/
.floatRight
{
	float:right;
}
/*主页通知栏*/
#notice
{
	background-color:rgba(33,133,208,.85);
	color:white;
	border-radius:.5rem;
	text-align:center;
	padding:10px;
	box-shadow: 1px 1px 5px rgba(136,136,136,.70);
	margin:10px;
}
.blogItem
{
	margin:10px;
	padding-top:30px;
	padding-bottom:30px;
	padding-left:15px;
	padding-right:15px;
	background-color:white;
	color:rgba(0,0,0,.70);
	border-radius:.5rem;
	box-shadow: 1px 1px 5px rgba(136,136,136,.70);
}
.blogItem .h
{
	font-family:'Microsoft Yahei';
	color:rgba(0,0,0,.70);
	font-size:30px;
}
.blogItem span
{
	color:rgba(0,0,0,.70);
}
.blogItem .bigSmall
{
	font-size:17px;
}
.OInewsPicNew
{
	margin:10px;
}
.OInewsPicNew img
{
	border-radius:.5rem;
	box-shadow: 1px 1px 5px rgba(136,136,136,.70);
}
